//! **************************************************************************
// Written by: Map P.20131013 on Thu Apr 30 09:55:22 2015
//! **************************************************************************

SCHEMATIC START;
COMP "display<6>" LOCATE = SITE "T18" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "display<7>" LOCATE = SITE "T17" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "botao1" LOCATE = SITE "B8" LEVEL 1;
COMP "botao2" LOCATE = SITE "A8" LEVEL 1;
COMP "pulso1PF" LOCATE = SITE "U16" LEVEL 1;
COMP "display<0>" LOCATE = SITE "M13" LEVEL 1;
COMP "display<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "display<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "display<3>" LOCATE = SITE "M14" LEVEL 1;
COMP "display<4>" LOCATE = SITE "U18" LEVEL 1;
COMP "display<5>" LOCATE = SITE "U17" LEVEL 1;
SCHEMATIC END;

